/** biome-ignore-all lint/suspicious/noUnknownAtRules: <biome não pega bem CSS> */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-tomorrow: "Tomorrow", sans-serif;

	--header-height: 60px;

	/* 2px é a distância segura */
	--screen-with-header: calc(100vh - var(--header-height) - 2px);
	--scroll-offset: 28px;
}

html {
	scroll-behavior: smooth;
}

/* Alterar o valor de #finisher-canvas */
.smooth-transition {
	@apply transition-colors duration-500;
}

/* Manter o mesmo valor de duration em .smooth-transition */
#finisher-canvas {
	transition: background-color 0.5s ease;
}

.custom-section {
	@apply flex flex-col justify-center items-center w-full h-[var(--screen-with-header)] scroll-mt-(--header-height) border-0 border-blue-400;
}

.expand-lg {
	@apply hover:scale-115 transition-transform duration-150;
}

.expand-sm {
	@apply hover:scale-105 transition-transform duration-150;
}

.fill-color {
	@apply transition hover:text-green-600 hover:border-green-600 duration-150 delay-50;
}
