/** biome-ignore-all lint/suspicious/noUnknownAtRules: <biome não pega bem CSS> */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-tomorrow: "Tomorrow", sans-serif;

	--header-height: 60px;

	/* 2px é a distância segura */
	--screen-with-header: calc(100vh - var(--header-height) - 2px);
	--scroll-offset: 28px;

	--duration-default: 200ms;

	/* branco padrão */
	--color-white: #ffffff;
	/* preto padrão */
	--color-black: #000000;

	/* Header clara  */
	--color-gray-darker: #0f1214;
	/* Header escura */
	--color-gray-dark: #364152;
	/* Borda do botão escuro */
	--color-gray-medium: #6a7282;
	/* Borda do botão claro */
	--color-gray-light: #99a0af;

	/* background escuro */
	--color-blue-background: #1b1c29;
	/* background claro */
	--color-gray-background: #95b7c2;

	/* Main */
	--color-green-dark: #008237;
	--color-green-light: #01c951;

	/* Card */
	--color-card-dark: #114b61;
	--color-card-light: #beccd4;
	--color-card-shadow-dark: #ffffff;
	--color-card-shadow-light: #2596be;

	/* Footer */
	--color-footer-main-dark: #16181a;
	--color-footer-end-dark: #0e1012;
	--color-footer-main-light: #3e7be3;
	--color-footer-end-light: #374cba;
}

html {
	scroll-behavior: smooth;
}

.smooth-transition {
	@apply transition duration-[var(--duration-default)];
}

.custom-section {
	@apply flex flex-col justify-center items-center w-full h-[var(--screen-with-header)] scroll-mt-(--header-height) border-0 border-blue-400;
}

.expand-lg {
	@apply hover:scale-115 transition-transform duration-[var(--duration-default)];
}

.expand-sm {
	@apply hover:scale-105 transition-transform duration-[var(--duration-default)];
}

.fill-color {
	@apply transition hover:text-[var(--color-green-light)] hover:border-[var(--color-green-light)] duration-[var(--duration-default)] delay-50;
}